.content {
  columns: 2;
  font-weight: 200;
}

.content img {
  width: 500px;
  border-radius: 5%;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: #6c8dab;
  margin-top: 16px;
  line-height: 25px;
}