/* src/components/About.css */
.about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about h2 {
  font-size: 23px;
}

.about p {
  color: #6c8dab;
  font-size: 16px;
  font-weight: 500;
}

.work{
  display: flex;
  flex-direction: column;
}

.work > span{
  color: #6c8dab;
  font-weight: 500;
}

.skill > span{
  color: #6c8dab;
  font-weight: 500;
}